input,select,textarea{
	background-color: transparent !important;
	color:white !important;
	border-color:white !important;
}


.custom_button_black{
	color:white;
	background-color: transparent !important;
	border-color: white !important;
}

.raleway{
	font-family: "Raleway",sans-serif;
}

.error_text{
	color: red;font-family: 'Raleway',sans-serif;
}

.navbar{
	background-color: transparent !important;
	font-family: "Raleway",sans-serif;

}
.nav-link{
	color: black !important;
	}
.white{
	color:white !important;
}
.bg_white{
	background-color:white !important;
}
