<!DOCTYPE html>
<html lang="en">
  <head>
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
    <script src="{{url_for('static',filename='atrament.min.js') }}" crossorigin="anonymous"></script>
    <link  rel="stylesheet"  href="{{url_for('static',filename='add_note.css') }}">
    <link  rel="stylesheet"  href="{{url_for('static',filename='universal.css') }}">
  </head>
  <body>
  <h1 class="raleway" align="center"> Add Note</h1>
  <br><br>
<div class="container" >
  <form class="form-control">
  Title
  <input type="text" id="title" class="form-control">

  <canvas id="drawing_pad" width="500px" height="500px">
 
  </form>
  </div>
  <div align="center">
   <h3 style="color: red;font-family: 'Raleway',sans-serif;" id="error"></h3>
 
 
  <button class="btn btn-md custom_button_black"  id="submit">Submit</button>
  <br><br><br>
   <div id="callback"></div>
     </div>


  <script>

var pad = atrament('#drawing_pad', 500, 500, 'orange');

    $("#submit").on('click', function(){

      var img = pad.toImage();
      if ($("#title").val() == 0){
        $("#error").text('Title is empty');
      } 

      else if ($("#date").val() == 0){
        $("#error").text('Due date is empty');
      } 

      else{


  $.ajax({
  type: "POST",
  contentType: "application/json; charset=utf-8",
  url: "/add_note",
  dataType: "json",
  data: JSON.stringify
  ({
    'img': img,
    'title':$("#title").val(),
    'due_date' : $("#date").val()
  }),
  success: function (data) {
    if (data.response == 'success'){
      $("#callback").html('<h3 style="color: green;" class="raleway" id="success">Note Created! Click the button below to view it</h3>'+'<a href="/note/'+data.url+'"><button class="btn btn-md custom_button_black">View Note</button></a>')
    }


    }

  })
}
  
    })
    
   
  </script>

  
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
</html>