<!DOCTYPE html>
<html lang="en">
  <head>
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css" crossorigin="anonymous">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"  crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
    <script src="{{url_for('static',filename='atrament.min.js') }}" crossorigin="anonymous"></script>
    <link  rel="stylesheet"  href="{{url_for('static',filename='add_note.css') }}">
     <link  rel="stylesheet"  href="{{url_for('static',filename='universal.css') }}"> 

  </head>
  <body>
   

  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Vinodhini</a>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav" align="right">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/add_note">ADD NOTE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/view_notes">VIEW NOTES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/view_notes/finished">VIEW FINISHED NOTES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">LOGOUT</a>
      </li>
    </ul>
  </div>
</nav>



<br>
  <h1 class="raleway" align="center"> Add Note</h1>
  <br><br>

  <h4 class="raleway" align="center">Title</h4>
  <div class=" col-sm-3" align="center">
  <input type="text" id="title" class="form-control">
</div>

 


  <h4 class="raleway" align="center">Draw Here</h4>
  <div id="border">
  <canvas id="drawing_pad">
  </div>

  <div align="center">
   <h3 class="error_text" id="error"></h3>
    <button class="btn btn-md custom_button_black" id="clear">Clear</button>
    <button class="btn btn-md custom_button_black" id="eraser">Eraser</button>
    <button class="btn btn-md custom_button_black" id="draw">Draw</button>


    <br><br>
   <h4 class="raleway" align="center"> Text(Optional)</h4>
   <div class=" col-sm-3">
  <textarea id="text" class="form-control" rows="3"></textarea> <br>
</div>


  <h4 class="raleway" align="center">Image(Optional)</h4>
<div align="center">
  <input type="file" id="optional_img">
  </div>

<div id="img_base">
  
</div>

  <br><br><br><br>
     <button class="btn btn-md custom_button_black"  id="submit" align="center">Submit</button>
  
  <br>
  <div id="callback"></div>
     </div>



  <script>



  var pad = atrament('#drawing_pad', screen.width-1, screen.height/2, 'black');
  
    $("#clear").on('click',function(){
    if (confirm("Are you sure you want to clear drawing pad?") == true){
        pad.clear();    
    }
    else{
      x = 'asd'
    }
  });





  $("#eraser").on('click', function(){
    pad.color = '#fff'
    pad.weight = 20
  })
  $("#draw").on('click', function(){
    pad.color = 'black';
    pad.weight = 3
  })

    $("#submit").on('click', function(){

      var img = pad.toImage();
      if ($("#title").val() == 0){
        $("#error").text('Title is empty');
      } 

      else if ($("#date").val() == 0){
        $("#error").text('Due date is empty');
      } 

      else{

function post_data(){ 


  var preview = document.querySelector('img');
  var file    = document.querySelector('input[type=file]').files[0];
  var reader  = new FileReader();

  reader.addEventListener("load", function () {
    var base_img = reader.result


    data = {}
  data['title'] = $("#title").val();
  data['note'] = img;

  if ($("#text").val() != 0){
    data['text'] = $("#text").val()
  }
  else {
  data['text'] = 'None'
  }     
  data['img'] = base_img
   $.ajax({
  type: "POST",
  contentType: "application/json; charset=utf-8",
  url: "/add_note",
  dataType: "json",
  data: JSON.stringify
  (
    data
  ),
  success: function (data) {
    if (data.response == 'success'){
      $("#callback").html('<h3 style="color: green;" class="raleway" id="success">Note Created</h3>')
    }


    }

  })
  
  }, false);

  if (file) {
    var asd = reader.readAsDataURL(file);
   
  
  }
  else{

    data = {}
  data['title'] = $("#title").val();
  data['note'] = img;

  if ($("#text").val() != 0){
    data['text'] = $("#text").val()
  }
  else {
  data['text'] = 'None'
  }     
  data['img'] = 'None'
   $.ajax({
  type: "POST",
  contentType: "application/json; charset=utf-8",
  url: "/add_note",
  dataType: "json",
  data: JSON.stringify
  (
    data
  ),
  success: function (data) {
    if (data.response == 'success'){
      $("#callback").html('<h3 style="color: green;" class="raleway" id="success">Note Created!</h3>')
    }


    }

  })

  }

  

}


        post_data();
       


/*

 
  */
}
  
    })

  </script>

  
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
</html>