<!DOCTYPE html>
<html lang="en">
  <head>
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link  rel="stylesheet"  href="{{url_for('static',filename='universal.css') }}"> 
    <link  rel="stylesheet"  href="{{url_for('static',filename='home.css') }}"> 

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
  </head>
  <body class="raleway bg">
  <div class="container">
  <br><br>
   <h1 align="center" class="white">Hello Vinodhini!</h1>
   <br>
   


   <div class="card" style="width: 20rem;" align="center" style="background-color: transparent !important;">
  <div class="card-block">
    <h4 class="card-title" align="center" id="date"></h4>
    <p class="card-text"></p>
  </div>
</div>
   

    <br><br>
    <h3 class="white">Enter Password</h3>
    <input type="password" name="code" class="form-control" style="background-color: transparent !important;" id="code">
    <div class="error_text" id="error"></div><br><br>
    <button class="btn btn-md custom_button_black" id="submit">Submit</button>
      
    
</div>
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.4/js.cookie.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" ></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.3/js.cookie.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.simpleWeather/3.1.0/jquery.simpleWeather.min.js"></script>
    <script>

    $(document).ready(function() {
      date = moment().format('Do');
      day = moment().format('dddd');
      month = moment().format('MMMM');
      year = moment().format('YYYY');
      data = day+' '+date+' '+month+' '+year
      console.log(data)
      $("#date").text(data)
    
  $.simpleWeather({
    location: 'Auroville, India',
    woeid: '',
    unit: 'c',
    success: function(weather) {
    $(".card-text").html("<p align='center'> It's about "+weather.temp+"&deg;"+"C  right now"+
      '<br>'+
      " And it is "+weather.currently+"</p>")  
    

    },
    error: function(error) {
      console.log(error)
    }
  });
});

   
      
          $("#submit").on('click', function(){


          $.ajax({
          type: "POST",
          contentType: "application/json; charset=utf-8",
          url: "/",
          dataType: "json",
          data: JSON.stringify
          ({
          'code': $("#code").val(),

          }),
          success: function (data) {
            if (data.response == 'success'){
            Cookies.set('logged',data.code);
            window.location = "/view_notes";
            }

            if (data.response == 'failure'){
          $("#error").text('Wrong Password')
            }
            }
            })


            })

    </script>
  </body>
</html>