<!DOCTYPE html>
<html lang="en">
  <head>
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" ></script>
   
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"  crossorigin="anonymous">
    <link  rel="stylesheet"  href="{{url_for('static',filename='universal.css') }}">
  </head>
  <body>

   <div class="card">
   {% if note['img'] != 'None' %}
  <img class="card-img-top" src="{{note['img']}}" alt="Card image cap">
  {% endif %}
  <div class="card-block">
   
    <ul class="list-group list-group-flush">
    <li class="list-group-item">{{note['title']}}</li>
    <li class="list-group-item" id="status">{{note['status']}}</li>
    <li class="list-group-item">{{note['when_uploaded']}}</li>
    <li class="list-group-item">{{note['text']}}</li>
  </ul>
  </div>
</div>
<div align="center">
  <button class="btn btn-md custom_button_black" id="finished">Mark As Complete</button>
</div>
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" ></script>
    


    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" ></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
    <script>
    
      $("#finished").on('click', function(){


        if (confirm("Are you sure the task is finished?") == true){


          $.ajax({
       
  type: "POST",
  contentType: "application/json; charset=utf-8",
  url: "/note/{{note['_id']}}",
  dataType: "json",
  data: JSON.stringify
  ({
    'finish':'yes'
  }),
  success: function (data) {
    if (data.response == 'success'){
      $("#status").text('complete')
    }


    }

  })
          }
        else{
          asd = 'asd'
        }
      });
      
    </script>
  </body>
</html>