<!DOCTYPE html>
<html lang="en">
  <head>
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" ></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link  rel="stylesheet"  href="{{url_for('static',filename='universal.css') }}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css" crossorigin="anonymous">
  </head>
  <body>
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">View Notes</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/view_notes">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/add_note"><i class="ion-compose" style="font-size: 25px;padding-right: 3px;"></i>  Add Note</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" href="/view_notes/finished"><i class="ion-android-done-all" style="font-size: 25px;padding-right: 3px;"></i>  View Finished Notes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout"><i class="ion-power" style="font-size: 25px;padding-right: 3px;"></i>Logout</a>
      </li>
    </ul>
  </div>
</nav>
  <div class="container">
  <div class="row">

    {% for i in notes %}
    <a href="/note/{{i['_id']}}">
    <div class="card">
  <img class="card-img-top" src="{{i['note']}}" alt="Card image cap" style="width: 100%;">
  <div class="card-block">
    <p class="card-text">{{i['title']}}</p>
  </div>
</div>
</a>
  {% endfor %}
</div>
</div>
<button onclick="asd()">asdasdasd</button>

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" ></script>

    <script>
    //pouchdb

//
  //    if ('serviceWorker' in navigator) {
  //navigator.serviceWorker.register('../static/sw.js').then(function(reg) {
   // console.log('Yey!', reg);
  //}).catch(function(err) {
   // console.log('Boo!', err);
  //});
//}
    </script>
  </body>
</html>